@keyframes blink-on-dark-bg { 
    50% { border-color: #00072D; }
}

@font-face {
font-family: jetbrains-bold;
src: url(assets/JetBrainsMono-Regular.woff);
}

body {
    margin: 0;
}

.blink {
    animation-duration: .53s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;

    border-right: 1px solid black;
    display: inline-block;
    padding-right: 2px;
    line-height: 60px;
}
.blink.dark-bg {
    animation-name: blink-on-dark-bg;
    border-right: 1px solid white;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #00072D;
    color: white;
}

.center {
    width: 40vw;
    text-align: center;
}

.hide {
    display: none;
}

#name {
    font-family: jetbrains-bold;
    font-size: 50px;
    animation-delay: 8.3s;
}