@font-face {
  font-family: jetbrains-regular;
  src: url(assets/JetBrainsMono-Regular.woff);
}

body {
  margin: 0;
  font-family: jetbrains-regular;
}

a {
  text-decoration: none;
  color: white;
}

p {
  display: block;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #00072d;
  color: white;
}

.no-scroll {
  height: 100vh;
  width: 100vw;
}

.center {
  width: 40vw;
  text-align: center;
}

.icons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon {
  width: 35px;
  height: 35px;
  margin: 2px;
}

.nav {
  margin: 25px 0px;
  min-width: 183px;
}
.nav-item {
  margin: 10px 15px 10px 15px;
  display: inline;
}
.block {
  display: block;
}

.essay {
  margin: 10%;
}

#name {
  line-height: 60px;
  font-size: 50px;
}

@media (max-width: 950px) {
  .icon {
    margin: 1px;
  }
  .nav-item {
    display: block;
  }
  #name {
    line-height: 35px;
    font-size: 25px;
  }
}
